@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	html {
		@apply font-sans text-425 bg-background text-foreground scroll-smooth;
	}

	::selection {
		@apply bg-pink-600 text-white;
	}

	a,
	button:not(:disabled),
	[role='button']:not(:disabled) {
		@apply cursor-pointer;
	}
}
