@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	html {
		@apply font-serif text-450 bg-background text-foreground scroll-smooth;
		scrollbar-width: thin;
		scrollbar-color: var(--color-sky-550) var(--background);
	}

	::selection {
		@apply bg-sky-550 text-white;
	}

	a,
	button:not(:disabled),
	[role='button']:not(:disabled) {
		@apply cursor-pointer;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans font-bold;
	}
}
