:root {
	--swiper-navigation-color: transparent;
	--sh-identifier: #354150;
	--sh-keyword: #f47067;
	--sh-string: #00a99a;
	--sh-class: #8d85ff;
	--sh-property: #4e8fdf;
	--sh-entity: #6eafad;
	--sh-jsxliterals: #bf7db6;
	--sh-sign: #8996a3;
	--sh-comment: #a19595;
}

/* Sugar High syntax highlighting line numbers */
pre {
	counter-reset: sh-line-number;

	& .sh__line::before {
		counter-increment: sh-line-number 1;
		content: counter(sh-line-number);
		margin-right: 24px;
		text-align: right;
		color: #a4a4a4;
	}
}

.dark {
	--sh-class: #4c97f8;
	--sh-identifier: white;
	--sh-keyword: #f47067;
	--sh-string: #0fa295;

	pre {
		& .sh__line::before {
			color: oklch(43.9% 0 0);
		}
	}
}

/* jcock letters logo */
.jcock-letters--container {
	.jcock-letters {
		opacity: 0.5;
	}

	.jcock-letters_svg__o,
	.jcock-letters_svg__c2,
	.jcock-letters_svg__k {
		opacity: 0;
		transform: translateY(10%);
		transition:
			opacity 100ms var(--ease-primary),
			transform 100ms var(--ease-primary);
	}

	.jcock-letters_svg__o {
		transition-delay: 100ms;
	}

	.jcock-letters_svg__c2 {
		transition-delay: 75ms;
	}

	.jcock-letters_svg__k {
		transition-delay: 0;
	}

	&:hover,
	&:active,
	&:focus {
		.jcock-letters {
			opacity: 1;
		}

		.jcock-letters_svg__o,
		.jcock-letters_svg__c2,
		.jcock-letters_svg__k {
			opacity: 1;
			transform: translateY(0);
		}

		.jcock-letters_svg__o {
			transition-delay: 0;
		}

		.jcock-letters_svg__k {
			transition-delay: 100ms;
		}
	}
}
