:root {
	--swiper-navigation-color: transparent;
	--sh-identifier: oklch(0.3709 0.0303 254.2);
	--sh-keyword: oklch(0.7017 0.1642 26.07);
	--sh-string: oklch(0.6601 0.117 183.82);
	--sh-class: oklch(0.68 0.1752 283.67);
	--sh-property: oklch(0.6437 0.1379 254.75);
	--sh-entity: oklch(0.7099 0.0666 193.26);
	--sh-jsxliterals: oklch(0.6766 0.1111 331.68);
	--sh-sign: oklch(0.667 0.0244 248.19);
	--sh-comment: oklch(0.6802 0.0142 17.51);
}

/* Sugar High syntax highlighting line numbers */
pre {
	counter-reset: sh-line-number;

	& .sh__line::before {
		counter-increment: sh-line-number 1;
		content: counter(sh-line-number);
		margin-right: 24px;
		text-align: right;
		color: oklch(0.7187 0 0);
	}
}

.dark {
	--sh-class: oklch(0.6746 0.1624 255.93);
	--sh-identifier: oklch(1 0 0);
	--sh-keyword: oklch(0.7017 0.1642 26.07);
	--sh-string: oklch(0.6414 0.111 184.74);

	pre {
		& .sh__line::before {
			color: oklch(43.9% 0 0);
		}
	}
}
