@theme {
	/* Animations */
	--slide-timing-function: cubic-bezier(0.47, -0.1, 0.23, 1.11);
	--ease-primary: cubic-bezier(0.51, 0.11, 0.59, 0.92);

	/* Breakpoints */
	--breakpoint-2xs: 370px;
	--breakpoint-xs: 30rem;

	/* Colors */
	--color-gray-25: oklch(0.9849 0.0029 264.54);
	--color-gray-850: oklch(0.164 0.0065 271);

	--color-sky-550: oklch(0.654 0.1666 248.39);
	--color-pink-650: oklch(0.6511 0.1947 12.57);

	/* Fonts */
	--font-fallback-sans:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-fallback-serif:
		ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

	--text-2xs: 0.65rem;
	--text-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
	--text-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
	--text-425: clamp(1rem, 1rem + 0.28vw, 1.15rem);
	--text-450: clamp(1rem, 1rem + 0.33vw, 1.33rem);
	--text-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
	--text-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
	--text-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
	--text-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
	--text-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
	--text-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

@theme inline {
	/* Fonts */
	--font-sans: 'Inter', var(--font-fallback-sans);
	--font-serif: 'Noto Serif', var(--font-fallback-serif);
}

/* Shadcn theme variables */
@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

:root {
	--background: var(--color-gray-25);
	--foreground: var(--color-gray-850);
	--card: var(--color-gray-25);
	--card-foreground: var(--color-gray-850);
	--popover: var(--color-gray-25);
	--popover-foreground: var(--color-gray-850);
	--primary: var(--color-gray-850);
	--primary-foreground: var(--color-gray-25);
	--secondary: var(--color-sky-550);
	--secondary-foreground: var(--color-gray-25);
	--muted: oklch(0.9343 0.0014 286.37);
	--muted-foreground: oklch(0.556 0 0);
	--accent: var(--color-gray-25);
	--accent-foreground: var(--color-gray-850);
	--destructive: var(--color-pink-650);
	--destructive-foreground: var(--color-pink-650);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: var(--color-gray-850);
	--foreground: var(--color-gray-25);
	--card: var(--color-gray-850);
	--card-foreground: var(--color-gray-25);
	--popover: var(--color-gray-25);
	--popover-foreground: var(--color-gray-850);
	--primary: var(--color-gray-25);
	--primary-foreground: var(--color-gray-850);
	--secondary: var(--color-sky-550);
	--secondary-foreground: var(--color-gray-25);
	--muted: oklch(0.2929 0.0065 271);
	--mutedforeground: oklch(0.439 0 0);
	--accent: var(--color-gray-850);
	--accent-foreground: var(--color-gray-25);
	--destructive: var(--color-pink-650);
	--destructive-foreground: var(--color-pink-650);
	--border: var(--color-gray-850);
	--input: var(--color-gray-850);
	--ring: oklch(0.439 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.269 0 0);
	--sidebar-ring: oklch(0.439 0 0);
}
